html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: "Cabin", cursive;
  background: #2B2B2B;
  color: #F9F9F9; }

#App {
  padding: 32px;
  grid-gap: 12px 20px; }
  #App .leaflet-container {
    height: 360px;
    width: 100%;
    margin: 0 auto; }
  #App #homeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    #App #homeContainer #top {
      grid-column: 1 / 3;
      display: grid;
      grid-template-columns: 1fr 1fr; }
      #App #homeContainer #top #logo {
        grid-column: 1 / 2;
        height: 64px;
        width: 64px; }
      #App #homeContainer #top #introText {
        grid-column: 1 / 2;
        text-align: left;
        font-family: "Lora", sans-serif;
        font-size: 18px; }
        #App #homeContainer #top #introText h1 {
          font-size: 21.5px;
          font-family: "Cabin", cursive; }
    #App #homeContainer #left-home {
      grid-column: 1 / 2; }
      #App #homeContainer #left-home #mapArea {
        grid-column: 1 / 3;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        #App #homeContainer #left-home #mapArea #mapid {
          grid-row: 2;
          max-height: 360px;
          height: 360px;
          width: 100%; }
    #App #homeContainer #right-home {
      grid-column: 2 / 3;
      display: grid; }
      #App #homeContainer #right-home #inputArea {
        grid-column: 2 / 3;
        display: grid;
        grid-template-rows: 5fr 1fr; }
        #App #homeContainer #right-home #inputArea #input-form {
          display: grid;
          grid-row-gap: 15px;
          align-items: center; }
          #App #homeContainer #right-home #inputArea #input-form input {
            width: 98%; }
          #App #homeContainer #right-home #inputArea #input-form #solarInputsContainer {
            grid-row: 1 / 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-gap: 15px 20px;
            align-items: center; }
            #App #homeContainer #right-home #inputArea #input-form #solarInputsContainer #dcInput {
              grid-column: 1;
              grid-row: 1; }
            #App #homeContainer #right-home #inputArea #input-form #solarInputsContainer #slInput {
              grid-column: 2;
              grid-row: 1; }
            #App #homeContainer #right-home #inputArea #input-form #solarInputsContainer #modInput {
              grid-column: 1;
              grid-row: 2; }
            #App #homeContainer #right-home #inputArea #input-form #solarInputsContainer #arrInput {
              grid-column: 2;
              grid-row: 2; }
            #App #homeContainer #right-home #inputArea #input-form #solarInputsContainer #tiInput {
              grid-column: 1;
              grid-row: 3; }
            #App #homeContainer #right-home #inputArea #input-form #solarInputsContainer #azInput {
              grid-column: 2;
              grid-row: 3; }
            #App #homeContainer #right-home #inputArea #input-form #solarInputsContainer #rateTypeSelect {
              grid-column: 1; }
            #App #homeContainer #right-home #inputArea #input-form #solarInputsContainer #rateInput {
              grid-column: 2; }
          #App #homeContainer #right-home #inputArea #input-form #submitButton {
            grid-row: 2 / 3;
            align-self: end;
            justify-self: center; }
  #App #resultsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px 10px;
    padding-top: 25px; }
    #App #resultsContainer #ac-container {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      border-style: solid;
      border-width: 1px; }
    #App #resultsContainer #solrad-container {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      border-style: solid;
      border-width: 1px; }
    #App #resultsContainer #value-container {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      border-style: solid;
      border-width: 1px; }
    #App #resultsContainer #table-div {
      grid-column: 1 / 4;
      grid-row: 2 / 3; }
      #App #resultsContainer #table-div table {
        display: flex;
        justify-content: center;
        overflow: none;
        background: none; }
      #App #resultsContainer #table-div tbody {
        display: flex;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden; }
      #App #resultsContainer #table-div td,
      #App #resultsContainer #table-div th {
        display: block;
        border: 1px solid black; }
      #App #resultsContainer #table-div th:not(:last-child),
      #App #resultsContainer #table-div td:not(:last-child) {
        border-bottom: 0; }
    #App #resultsContainer .summary-info {
      text-align: center;
      font-family: "Lora", sans-serif; }
    #App #resultsContainer .summary-title {
      font-family: "Cabin", cursive;
      font-size: 20px;
      font-style: bold; }
    #App #resultsContainer #button-div {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      display: flex;
      flex-direction: row;
      justify-content: center; }
  #App button {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-style: solid;
    border-color: white;
    font-family: "Cabin", cursive;
    font-size: 16px;
    text-align: center;
    margin: 5px;
    width: fit-content;
    text-shadow: none; }
  #App button:hover {
    background-color: white;
    color: #F9F9F9; }
