$title-font-stack: 'Cabin',
cursive;
$body-font-stack: 'Lora',
sans-serif;
$bg-color: #2B2B2B;
$txt-color: #F9F9F9;
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: $title-font-stack;
    background: $bg-color;
    color: $txt-color;
}

#App {
    padding: 32px;
    grid-gap: 12px 20px;
    .leaflet-container {
        height: 360px;
        width: 100%;
        margin: 0 auto;
    }
    #homeContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        #top {
            grid-column: 1 / 3;
            display: grid;
            grid-template-columns: 1fr 1fr;
            #logo {
                grid-column: 1 / 2;
                height: 64px;
                width: 64px;
            }
            #introText {
                grid-column: 1 / 2;
                text-align: left;
                font-family: $body-font-stack;
                font-size: 18px;
                h1 {
                    font-size: 21.5px;
                    font-family: $title-font-stack;
                }
            }
        }
        #left-home {
            grid-column: 1 / 2;
            #mapArea {
                grid-column: 1 / 3;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                #mapid {
                    grid-row: 2;
                    max-height: 360px;
                    height: 360px;
                    width: 100%;
                }
            }
        }
        #right-home {
            grid-column: 2 / 3;
            display: grid;
            #inputArea {
                grid-column: 2 / 3;
                display: grid;
                grid-template-rows: 5fr 1fr;
                #input-form {
                    display: grid;
                    grid-row-gap: 15px;
                    align-items: center;
                    input {
                        width: 98%;
                    }
                    #solarInputsContainer {
                        grid-row: 1 / 2;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr 1fr 1fr;
                        grid-gap: 15px 20px;
                        align-items: center;
                        #dcInput {
                            grid-column: 1;
                            grid-row: 1;
                        }
                        #slInput {
                            grid-column: 2;
                            grid-row: 1;
                        }
                        #modInput {
                            grid-column: 1;
                            grid-row: 2;
                        }
                        #arrInput {
                            grid-column: 2;
                            grid-row: 2;
                        }
                        #tiInput {
                            grid-column: 1;
                            grid-row: 3;
                        }
                        #azInput {
                            grid-column: 2;
                            grid-row: 3;
                        }
                        #rateTypeSelect {
                            grid-column: 1;
                        }
                        #rateInput {
                            grid-column: 2;
                        }
                    }
                    #submitButton {
                        grid-row: 2 / 3;
                        align-self: end;
                        justify-self: center;
                    }
                }
            }
        }
    }
    #resultsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px 10px;
        padding-top: 25px;
        #ac-container {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            border-style: solid;
            border-width: 1px;
        }
        #solrad-container {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            border-style: solid;
            border-width: 1px;
        }
        #value-container {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
            border-style: solid;
            border-width: 1px;
        }
        #table-div {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
            table {
                display: flex;
                justify-content: center;
                overflow: none;
                background: none;
            }
            tbody {
                display: flex;
                position: relative;
                overflow-x: auto;
                overflow-y: hidden;
            }
            td,
            th {
                display: block;
                border: 1px solid black;
            }
            th:not(:last-child),
            td:not(:last-child) {
                border-bottom: 0;
            }
        }
        .summary-info {
            text-align: center;
            font-family: $body-font-stack;
        }
        .summary-title {
            font-family: $title-font-stack;
            font-size: 20px;
            font-style: bold;
        }
        #button-div {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
    button {
        background-color: rgba(255, 255, 255, 0);
        color: white;
        border-style: solid;
        border-color: white;
        font-family: $title-font-stack;
        font-size: 16px;
        text-align: center;
        margin: 5px;
        width: fit-content;
        text-shadow: none;
    }
    button:hover {
        background-color: white;
        color: $txt-color;
    }
}